@charset "utf-8";

@font-face {
    font-family: 'farmhouse';
    src: url(../font/Farmhouse.otf)
}


*:focus {
    outline: 0;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

html {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
    scroll-behavior: smooth;
}

body {
    font-family: 'Paperlogy', 'Pretendard';
    color: #333333;
    font-size: 14px;
    line-height: 1.6em;
}

html,
body {
    text-size-adjust: none;
    /* text-size-adjust : 브라우저가 자동으로 텍스트 크기를 확대 및 축소하는 것을 제어한다. */
    /* 가로 모드로 바꾸면 글자가 커지거나 줄어드는 경우가 있는데, 이 속성을 none으로 하면 디자인한 글자 크기가 유지된다. */
    /* 모바일 브라우저에서 글자 크기를 자동으로 바꾸지 못하게 막는 설정 */
    /* 디자인 의도대로 폰트 크기를 고정하려는 용도 */
    /* prevent font scaling in landscape */
    -webkit-text-size-adjust: none;
    /* chrome, safari, 최신 opera */
    -moz-text-size-adjust: none;
    /* firefox */
    -ms-text-size-adjust: none;
    /* internet explorer */
    -o-text-size-adjust: none;
    /* 예전 opera */
}

#wrap {
    min-width: 1660px;
    overflow: hidden;
}


/* header */
#header {
    width: 100%;
    height: 70px;
    background-color: #00000060;
    position: fixed;
    z-index: 999;

}

.bg {
    backdrop-filter: blur(7px);
}

.inner_header {
    margin: 0 auto;
    width: 1620px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.logo {
    height: 50px;
    margin: 10px 0;
}

.logo img {
    display: block;
    height: 100%;
}

.gnb {
    display: flex;
    justify-content: flex-end;
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 600;
}

.gnb li {
    padding: 0 10px;
    border-radius: 50%;
}

.gnb li a {
    display: block;
    padding: 4px 12px;
    position: relative;
    z-index: 1;
}

/* 가상 요소로 feather 효과 만들기 */
.gnb li a::before {
    height: 20px;
    content: "";
    position: absolute;
    inset: 16px -10px;
    border-radius: 40px;
    transition: all 0.3s ease;
    z-index: -1;
}

/* hover 시 feather + background */
.gnb li a:hover::before {
    background: #B7D05190;
    /* 백그라운드 */
    inset: 14px 0;
}

/* #visual */
#visual {
    width: 100%;
    height: 880px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#visual img,
#visual video {
    display: block;
    width: 100%;
    height: 100%;
}

/* section 공통 */
.section {
    width: 1320px;
    margin: 0 auto;
    padding-top: 150px;
}

.wide {
    width: 100%;
    margin: 0 auto;
    padding-top: 150px;
}

.title {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.title_S {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.bg_wrap {
    width: 100%;
    background: url(../image/sectioin12_bg.png) no-repeat center top;
}

h2 {
    letter-spacing: 2px;
}

/* section1 line up */
#section1 {
    width: 100%;
    padding-top: 150px;
}

/* carousel slider */
.carousel-container {
    position: relative;
    width: 1320px;
    height: 670px;
    margin: 0 auto;
}

.carousel {
    height: 630px;
    perspective: 300px;
}

/* cover */
.carousel .carousel-item .lineup-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Pretendard';
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    color: #fff;
    background: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.8));
    
    opacity: 0;
    /* 기본 숨김 */
    transition: opacity 0.3s ease;
    pointer-events: none;
    /* 클릭 방해 X */
    border-radius: 20px;
    box-sizing: border-box;
    backdrop-filter: blur(3px);
}

.hover-text {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: left;
    padding: 20px;
}

.hover-text strong {
    /* font-family: 'Paperlogy'; */
    font-size: 20px;
    display: block;
    font-weight: 600;
}

/* hover 시 표시 */
.carousel .carousel-item.active:hover .lineup-cover {
    opacity: 1;
    transition: all 0.3s;
    bottom: -120px;
}


.carousel-item a {
    position: relative;
}

.carousel .carousel-item {
    width: 380px;
    height: 500px;
}


/* 각 아이템 너비 */
.carousel .carousel-item img {
    width: 100%;
    display: block;
    border-radius: 20px;
}

/* h3를 버튼 위쪽 중앙에 고정 */
.carousel .carousel-item h3 {
    text-align: center;
    position: absolute;
    bottom: -65px;
    /* 버튼 바로 위 */
    left: 50%;
    transform: translateX(-50%);
    color: #333;
    border-radius: 8px;
    font-size: 28px;
    text-align: center;

    opacity: 1;
    /* 항상 표시 */
    transition: opacity 0.1s ease;
    pointer-events: none;
    /* 클릭 방해 제거 */
    opacity: 0;
    /* 기본은 안 보이게 */
    transition: opacity 0.1s ease;
    pointer-events: none;
    /* h3가 클릭을 방해하지 않도록 */
}

/* 중앙 슬라이드(active)만 h3 표시 */
.carousel .carousel-item.active h3 {
    opacity: 1;
}


/* nav buttons */
.nav-btn {
    position: absolute;
    bottom: -20px;
    z-index: 50;
    border: none;
    cursor: pointer;
    text-align: center;
    color: #333;
    background: none;
    /* 클릭/기본 배경 제거 */
}

/* 좌우 버튼 위치 */
.prev-btn {
    left: 35%;
    /* 중앙 기준 왼쪽 */
    margin-left: 5px;
    /* 좌우 간격 조절 */
}

.next-btn {
    left: 62%;
    /* 중앙 기준 오른쪽 */
    margin-left: 5px;
    /* 좌우 간격 조절 */
}


/* 클릭 시 배경 제거 */
.nav-btn:active,
.nav-btn:focus {
    outline: none;
    background: none;
}

/* 클릭 후 포커스 테두리 + 배경 제거 */
.nav-btn:focus {
    outline: none;
    background: none;
}

/* 필요하면 hover도 배경 제거 */
.nav-btn:hover {
    background: none;
}


/* section2 timetable */
#section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section2>.title {
    color: #fff;
    margin-bottom: 30px;
}

#section2 .img_wrap img {
    display: block;
}

/* section3 md shop */

.md_shop {
    width: 1320px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.md {
    border-radius: 30px;
}

.md_small {
    width: 840px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.md img {
    border-radius: 30px;
    display: block;
}

.md00 {
    background-image: url(../image/BMD_01.jpg);
    background: url(../image/BMD_01.jpg) no-repeat center;
    width: 450px;
    height: 450px;
    animation: md 16s infinite;
}

@keyframes md {
    0% {
        background-image: url(../image/BMD_01.jpg);
    }

    25% {
        background-image: url(../image/BMD_02.jpg);
    }

    50% {
        background-image: url(../image/BMD_03.jpg);
    }

    75% {
        background-image: url(../image/BMD_04.jpg);
    }

    100% {
        background-image: url(../image/BMD_01.jpg);
    }
}

.md_s {
    width: 260px;
    height: 210px;
    position: relative;
    overflow: hidden;
}

.cover {
    border-radius: 30px;
    background-color: #00000020;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 18px;
    opacity: 0;
    overflow: hidden;
}

.cover p {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.cover img {
    display: inline-block;
    padding: 0 5px;
    position: absolute;
    top: 4px;
    width: 28px;
}

.md_s:hover .cover {
    opacity: 1;
    transition: opacity 0.5s;
}

.md_s:hover img {
    transform: scale(1.1);
    transition: transform 0.3s;
}

/* #section4 deco */
#section4 {
    font-family: Pretendard;
    font-size: 80px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.deco {
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
}

.deco img {
    display: block;
}

.deco div {
    height: 120px;
    background-color: lavender;
}

.deco span {
    font-family: 'farmhouse';
    font-weight: 500;
    text-transform: lowercase;
}

.deco1 {

    gap: 50px;
}

.deco2 {

    gap: 1.1em;
}

.deco3 {
    margin-left: 150px;
    gap: 50px;
}

.div1-1 {
    width: 650px;
}

.div2-1 {
    width: 760px;
}

.div2-2 {
    width: 665px;
}

.div3-1 {
    width: 620px;
}

.div3-2 {
    width: 520px;
}

/* section5 community */
.button {
    display: flex;
    gap: 15px;
}

.button>li {
    font-size: 24px;
    cursor: pointer;
    width: 180px;
    height: 55px;
    border-radius: 30px;
    border: 3px solid #67B230;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.tab {
    cursor: pointer;
    display: inline-block;
}

.opacity {
    color: #fff;
    background-color: #67B230;
}

#box>li.on>.box1_1 {
    width: 100%;
    box-sizing: border-box;
}

#box1>li>.box1_1 {
    height: 0;
    overflow: hidden;
}

.box1_1 {
    text-align: left;
    margin-top: 35px;
}

.box1_1 ul {
    border-top: 1px solid #ccc;
}

.commu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 13px 10px;
    font-size: 22px;
    cursor: pointer;
}

.box1_1>ul>li:hover .commu-title {
    color: #B7D051;
    transition: all 0.3s;
}
.commu-text {
    padding: 30px 50px;
    font-size: 16px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    background-color: #67B23030;
    font-family: 'Pretendard';
}
.commu-text p {
    margin: 10px 0;
}
.commu-text img {
    display: block;
    width: 80%;
    margin: 50px auto;
}
.commu-text strong {
    font-weight: 600;
}

.box1_1>ul>li>span {
    font-weight: 200;
}

/* #section6 playlist */
#section6 {
    width: 1620px;
    margin: 0 auto;
    padding: 150px 0 0 150px;
}

.playlist {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.spotify {
    width: 350px;
    height: 520px;
    border-radius: 20px;
    margin-right: 50px;
    background-color: #B7D051;
}

.album h3 {
    font-size: 32px;
    margin-bottom: 50px;
}

.album_art {
    height: 330px;
    width: 1220px;
}

.album_art div {
    cursor: pointer;
}

.album_art div img {
    display: block;
    border: 1px solid #ccc;
}

/* #section7  instagram */
.insta {
    font-family: 'Pretendard';
    width: 1320px;
    height: 610px;
    padding: 25px 40px;
    border: 1px solid #ccc;
    position: relative;
    box-sizing: border-box;
}

.profile_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile_wrap .button {
    width: 160px;
    height: 45px;
    background-color: #3055CE;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile li span {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 30px;
    font-weight: 600;
}

.profile li p {
    font-size: 16px;
    font-weight: 400;
    color: #aaa;
}

.follow {
    display: flex;
    gap: 50px;
    margin-left: 300px;
}

.follow li strong {
    font-size: 24px;
}

.follow li p {
    font-size: 16px;
}

.feed {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 15px 0 20px;
}

.feed li {
    width: 300px;
    height: 375px;
    border: 1px solid #ccc;
}

.feed li img {
    width: 100%;
    height: 100%;
    display: block;
}

.icon {
    width: 100%;
    left: 0;
    bottom: 60px;
    display: flex;
    align-items: center;
}

.icon img {
    display: inline-block;
    margin-right: 30px;
}

.last {
    position: absolute;
    right: 0;
}

.text {
    margin-top: 10px;
    font-size: 20px;
}

.text strong {
    margin-right: 10px;
    font-weight: 600;
    font-size: 22px;
}

/* section8 gallery */
#section8 {
    margin-bottom: 150px;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
}

.swiper-slide img {
    display: block;
    border-radius: 20px;
}

.mySwiper2 {
    height: 525px;
    width: 1050px;
}

.mySwiper {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    opacity: 0.7;
    margin-top: 30px;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-container-wrapper {
    position: relative;
}

/* 버튼을 슬라이드 양옆 바깥으로 */
.custom-prev,
.custom-next {
    position: absolute;
    top: 40%;
    z-index: 20;
    color: #B7D051;
    font-weight: 900;
}

.custom-prev {
    left: 30px;
    /* 사진 바깥 */
}

.custom-next {
    right: 30px;
    /* 사진 바깥 */
}

/* footer */

#footer {
    font-family: 'Pretendard';
    background-color: #444;
    width: 100%;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    padding: 70px 0;
    box-sizing: border-box;
    color: #ffffff50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.sns li {
    opacity: 50%;
}

.sns li:hover {
    opacity: 1;
}

/* top btn */
.top-btn {
    position: absolute;
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 50px;
    height: 50px;
    opacity: 0;
    color: #67B230;
    text-align: center;
    font-weight: 700;
    transition: all 0.5s;
}

.top-btn a img {
    width: 100%;
    object-fit: contain;
}

.opt {
    opacity: 1;
}
